.board {
    display: grid;
    grid-template-areas: "to-do in-progress test done";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    min-height: 100vh;
}

.boardColumn {
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    gap: 10px;
    padding: 10px;
}

#to-do {
    grid-area: to-do;
    background-color: #FFE7CE;
}

#in-progress {
    grid-area: in-progress;
    background-color: #FFCDA8;
}

#test {
    grid-area: test;
    background-color: #FFAAC9;
}

#done {
    grid-area: done;
    background-color: #E4A5FF;
}