.board {
    display: grid;
    grid-template-areas: "to-do in-progress test done";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 100vh;
}

.boardColumn {
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    gap: 10px;
    padding: 10px;
    overflow: scroll;
}

#overlay{
    visibility: hidden;
    background-color: rgba(0,0,0, 0.2);
    display: flex;
    justify-content: center;
    position: absolute;
    height: 100vh;
    width: 100vw;
}

.overlayButton {
    padding-bottom: 15px;
    margin-right: 3px;
    font-size: 10px;
    width: 30px;
    height: 15px;
    border: none;
    border-radius: 50px;
}

#accept{
    background-color: #A7E99C;
}

#cancel{
    background-color: #FF8986;
}

.buttonsDiv {
    grid-area: buttons;
    display: flex;
    align-items: center;
    justify-content: right;
}

#accept:hover {
    background-color: #BFEEB7;
}

#accept:active{
    background-color: #8FE381;
}

#cancel:hover {
    background-color: #FF9997;
}

#cancel:active{
    background-color:#FF7974;
}

.cardTailor{
    display: grid;
    grid-template-areas: "title" 
                         "description" 
                         "buttons";
    grid-template-rows: 3fr 12fr 1fr;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    height: 40vh;
    width: 40vw;
    margin: auto
}

#to-do {
    grid-area: to-do;
    background-color: #FFE7CE;
}

#in-progress {
    grid-area: in-progress;
    background-color: #FFCDA8;
}

#test {
    grid-area: test;
    background-color: #FFAAC9;
}

#done {
    grid-area: done;
    background-color: #E4A5FF;
}

textarea {
    border-radius: 10px;
    margin-bottom: 10px;
    resize: none;
    border-color: rgb(245, 245, 245);;
    background-color: rgb(245, 245, 245);
    padding: 10px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#overlayTitle{
    font-size: 20px;
}

textarea:focus {
    outline: none;
    background-color: rgb(240, 240, 240);
}

textarea:hover{
    background-color: rgb(240, 240, 240);
}

textarea::placeholder{
    color:rgb(150, 150, 150);

}

#addCardButton {
    position: absolute;
    opacity: 0.5;
    bottom: 0;
    right: 0;
    padding-top: 3px;
    padding-bottom: 15px;
    margin: 7px;
    font-size: 10px;
    width: 30px;
    height: 15px;
    border: none;
    border-radius: 50px;
    align-self: center;
    background-color: white;
}

#addCardButton:hover {
    opacity: 1;
}

#addCardButton:active{
    background-color: gainsboro;
}

::-webkit-scrollbar {display:none;}