.board {
    display: grid;
    grid-template-areas: "to-do in-progress test done";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100vh;
}

.boardColumn {
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    gap: 10px;
    padding: 10px;
}

.card {
    background-color: white;
    padding: 10px;
    height: 100px;
    width: 100%;
}

.cardText {
    margin: 0px;
}

#to-do {
    grid-area: to-do;
    background-color: aquamarine;
}

#in-progress {
    grid-area: in-progress;
    background-color: goldenrod;
}

#test {
    grid-area: test;
    background-color: gray;
}

#done {
    grid-area: done;
    background-color: green;
}