.card {
    display: grid;
    grid-template-areas: "title" 
                         "description" 
                         "buttons";
    grid-template-rows: 2fr 4fr 1fr;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    height: 100px;
    width: 100%;
}

.cardTitle {
    grid-area: title;
    margin: 0px;
    font-size: 17px;
}

.cardDescription {
    grid-area: description;
    margin-top: 2px;
    font-size: 12px;
}

.cardButton {
    padding-bottom: 15px;
    margin-right: 3px;
    font-size: 10px;
    width: 30px;
    height: 15px;
    border: none;
    border-radius: 50px;
    align-self: center;
}

.buttonsDiv {
    grid-area: buttons;
    display: flex;
}

.cardButton:hover {
    background-color: gainsboro;
}

.cardButton:active{
    background-color:darkgrey;
}